<ui:composition template="templateMenu.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:tm="http://java.sun.com/jsf/composite/terminal/1_0/components">
	

	<ui:define name="title">
		<h:outputText value="#{msg['pages.alunoGerenciar.aluno.title']}" />
	</ui:define>
	

	<ui:define name="principal">
		 <h:form id="alunoForm">
	    
	     <p:growl id="msg" showDetail="true" life="3000"/>   
	         
	     <p:panelGrid columns="4"> 
	     	   <f:facet name="header">
        			<p:outputLabel value="#{msg['pages.alunoGerenciar.aluno.title']}"/>			
    		   </f:facet>
	          
	           <p:outputLabel value="#{msg['pages.alunoGerenciar.aluno.ra']}"/>
	           <p:inputText   value="#{alunoMB.aluno.ra}" id="raAluno"/>
			
			   <p:outputLabel value="#{msg['pages.alunoGerenciar.aluno.nome']}"/>
	           <p:inputText   value="#{alunoMB.aluno.nome}" id="nomeAluno"/>
	           
	           <p:outputLabel value="#{msg['pages.alunoGerenciar.aluno.cpf']}"/>
	           <p:inputText   value="#{alunoMB.aluno.cpf}" id="cpfAluno"/>
	           
	           <p:outputLabel value="#{msg['pages.alunoGerenciar.aluno.rg']}"/>
	           <p:inputText   value="#{alunoMB.aluno.rg}" id="rgAluno"/>
	           
	           <p:outputLabel value="#{msg['pages.alunoGerenciar.aluno.dataNasc']}"/>
	           <p:inputText   value="#{alunoMB.aluno.dataNasc}" id="dataNascAluno"/>
	           
	           <p:outputLabel value="#{msg['pages.alunoGerenciar.aluno.endereco']}"/>
	           <p:inputText   value="#{alunoMB.aluno.endereco}" id="enderecoAluno"/>

	           <p:commandButton  actionListener="#{alunoMB.salvar}" value="#{msg['pages.alunoGerenciar.aluno.btnSalvar']}" update="msg, alunoForm, :tableAlunos"  ></p:commandButton>
               <p:commandButton                                       value="#{msg['pages.alunoGerenciar.aluno.btnFechar']}" action="inicio"></p:commandButton>
               
	     </p:panelGrid>
	     </h:form>

	     <p:dataTable value="#{alunoMB.alunos}" var="aluno" id="tableAlunos">
	         <p:column headerText="#{msg['pages.alunoGerenciar.aluno.ra']}">
	                   <p:outputLabel value="#{aluno.ra}"/>
	         </p:column>
	     
	     	<p:column headerText="#{msg['pages.alunoGerenciar.aluno.nome']}">
	             <p:outputLabel value="#{aluno.nome}"/>
	        </p:column>
	        
	        <p:column headerText="#{msg['pages.alunoGerenciar.aluno.cpf']}">
	             <p:outputLabel value="#{aluno.cpf}"/>
	        </p:column>
	        
	        <p:column headerText="#{msg['pages.alunoGerenciar.aluno.rg']}">
	             <p:outputLabel value="#{aluno.rg}"/>
	        </p:column>
	        
	        <p:column headerText="#{msg['pages.alunoGerenciar.aluno.dataNasc']}">
	             <p:outputLabel value="#{aluno.dataNasc}"/>
	        </p:column>
	        
	        <p:column headerText="#{msg['pages.alunoGerenciar.aluno.endereco']}">
	             <p:outputLabel value="#{aluno.endereco}"/>
	        </p:column>
	     
	     </p:dataTable>
	     	
	</ui:define>
</ui:composition>






