<ui:composition template="templateMenu.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:tm="http://java.sun.com/jsf/composite/terminal/1_0/components">
	

	<ui:define name="title">
		<h:outputText value="#{msg['pages.cursoGerenciar.curso.title']}" />
	</ui:define>
	

	<ui:define name="principal">
		 <h:form id="cursoForm">
	    
	     <p:growl id="msg" showDetail="true" life="3000"/>   
	         
	     <p:panelGrid columns="2"> 
	     	   <f:facet name="header">
        			<p:outputLabel value="#{msg['pages.cursoGerenciar.curso.title']}"/>			
    		   </f:facet>
	          
	           <p:outputLabel value="#{msg['pages.cursoGerenciar.curso.codigoCur']}"/>
	           <p:inputText   value="#{cursoMB.curso.codigoCur}" id="codigoCur"/>
			
			   <p:outputLabel value="#{msg['pages.cursoGerenciar.curso.nome']}"/>
	           <p:inputText   value="#{cursoMB.curso.nome}" id="nomecur"/>
	           
	           <p:outputLabel value="#{msg['pages.cursoGerenciar.curso.duracao']}"/>
	           <p:inputText   value="#{cursoMB.curso.duracao}" id="duracao"/>
	           
	            <p:selectOneMenu value="#{modalidadeMB.selectedModalidade}" id="modalidade">
    			
    			<f:selectItems value="#{modalidadeMB.modalidades}" var="modalidade"
    				 itemLabel="#{modalidade.label}" 
    				 itemValue="#{modalidade}"/>  <!--  MODARRRRR -->
			</p:selectOneMenu>      
	           
	         
            
           <!--  <p:selectOneMenu value="#{modalidadeMB.selectedModalidade}" id="modalidade">
    			
    			<f:selectItems value="#{modalidadeMB.modalidades}" var="modalidade"
    				 itemLabel="#{modalidade.label}" 
    				 itemValue="#{modalidade}"/>
			</p:selectOneMenu>
			-->
            
             
	           
	            

	           <p:commandButton  actionListener="#{cursoMB.salvar}" value="#{msg['pages.cursoGerenciar.curso.btnSalvar']}" update="msg, cursoForm, :tableCurso"  ></p:commandButton>
               <p:commandButton                                       value="#{msg['pages.cursoGerenciar.curso.btnFechar']}" action="inicio"></p:commandButton>
               
	     </p:panelGrid>
	     </h:form>

	     <p:dataTable value="#{cursoMB.cursos}" var="curso" id="tableCurso">
	         <p:column headerText="#{msg['pages.cursoGerenciar.curso.codigoCur']}">
	                   <p:outputLabel value="#{curso.codigoCur}"/>
	         </p:column>
	     
	     	<p:column headerText="#{msg['pages.cursoGerenciar.curso.nome']}">
	             <p:outputLabel value="#{curso.nome}"/>
	        </p:column>
	        
	        <p:column headerText="#{msg['pages.cursoGerenciar.curso.duracao']}">
	             <p:outputLabel value="#{curso.duracao}"/>
	        </p:column>
	        
	        <p:column headerText="#{msg['pages.cursoGerenciar.curso.modalidade']}">
	             <p:outputLabel value="#{curso.modalidade}"/>
	        </p:column> 
	     
	     </p:dataTable>
	     	
	</ui:define>
</ui:composition>