<ui:composition template="templateMenu.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:tm="http://java.sun.com/jsf/composite/terminal/1_0/components">
	

	<ui:define name="title">
		<h:outputText value="#{msg['pages.disciplinaGerenciar.disciplina.title']}" />
	</ui:define>
	

	<ui:define name="principal">
		 <h:form id="disciplinaForm">
	    
	     <p:growl id="msg" showDetail="true" life="3000"/>   
	         
	     <p:panelGrid columns="2"> 
	     	   <f:facet name="header">
        			<p:outputLabel value="#{msg['pages.disciplinaGerenciar.disciplina.title']}"/>			
    		   </f:facet>
	          
	           <p:outputLabel value="#{msg['pages.disciplinaGerenciar.disciplina.codigoDis']}"/>
	           <p:inputText   value="#{disciplinaMB.disciplina.codigoDis}" id="codigoDis"/>
			
			   <p:outputLabel value="#{msg['pages.disciplinaGerenciar.disciplina.nome']}"/>
	           <p:inputText   value="#{disciplinaMB.disciplina.nome}" id="nomeDisc"/>
	           
	           <p:outputLabel value="#{msg['pages.disciplinaGerenciar.disciplina.cargaHr']}"/>
	           <p:inputText   value="#{disciplinaMB.disciplina.cargaHr}" id="cargaHr"/>
	           

	           <p:commandButton  actionListener="#{disciplinaMB.salvar}" value="#{msg['pages.disciplinaGerenciar.disciplina.btnSalvar']}" update="msg, disciplinaForm, :tableDisciplina"  ></p:commandButton>
               <p:commandButton                                       value="#{msg['pages.disciplinaGerenciar.disciplina.btnFechar']}" action="inicio"></p:commandButton>
               
	     </p:panelGrid>
	     </h:form>

	     <p:dataTable value="#{disciplinaMB.disciplinas}" var="disciplina" id="tableDisciplina">
	         <p:column headerText="#{msg['pages.disciplinaGerenciar.disciplina.codigoDis']}">
	                   <p:outputLabel value="#{disciplina.codigoDis}"/>
	         </p:column>
	     
	     	<p:column headerText="#{msg['pages.disciplinaGerenciar.disciplina.nome']}">
	             <p:outputLabel value="#{disciplina.nome}"/>
	        </p:column>
	        
	        <p:column headerText="#{msg['pages.disciplinaGerenciar.disciplina.cargaHr']}">
	             <p:outputLabel value="#{disciplina.cargaHr}"/>
	        </p:column>
	     
	     </p:dataTable>
	     	
	</ui:define>
</ui:composition>