<!DOCTYPE html>
<h:html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view encoding="ISO-8859-1">
	<h:head>
		<title><ui:insert name="title">
				<h:outputLabel value="#{msg['pages.templateMenu.titleMainMenu']}" />
			</ui:insert></title>
	</h:head>
	
	<h:body style="font-size: 12px">

		<p:layout id="globalLayout"   fullPage="true">
			
		
			<p:layoutUnit position="north" size="160" >
				<ui:include src="comuns/cabecalho.xhtml" />
			</p:layoutUnit>

			
			<p:layoutUnit position="south">
				<ui:include src="comuns/rodape.xhtml" />
			</p:layoutUnit>


			<!-- Menu lateral -->
			<p:layoutUnit position="west" header="#{msg['pages.templateMenu.titleMainMenu']}"
				collapsible="true" size="220">
				<ui:include src="comuns/menuLateral.xhtml" />
			</p:layoutUnit>

	
			<p:layoutUnit position="center">
				<ui:insert name="principal" />
			</p:layoutUnit>
		</p:layout>

	</h:body>
</f:view>
</h:html>