<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:form>
		<p:panelMenu>
		    <p:submenu label="#{msg['pages.comuns.menuLateral.inicio']}">
			<p:menuitem value="Início" url="inicio.xhtml" />
			</p:submenu>
		
			<p:submenu label="#{msg['pages.comuns.menuLateral.gerencial']}">
				<p:menuitem value="Aluno" url="alunoGerenciar.xhtml" />
				<p:menuitem value="Curso" url="cursoGerenciar.xhtml" />
				<p:menuitem value="Disciplina" url="disciplinaGerenciar.xhtml" />
           </p:submenu>
           					
		</p:panelMenu>
	</h:form>
</ui:composition>